{% extends 'main.html' %}

{% block content %}
    <div class="panel panel-default" style="margin-top: 50px;">
        <div class="panel-heading"><b>Загрузите изображение</b></div>
        <div class="panel-body">
            <form id="uploadImage" method="post" action="/result" enctype="multipart/form-data">
                <div class="form-group">
                    <label style="font-size: 12px;">Поддерживаемые форматы: JPG, JPEG, PNG</label>
                    <input type="file" name="file" id="file" accept="image/jpeg, image/jpg, image/png" />
                </div>
                <button id="button" style="display:none;">Запустить распознание</button>
                <div id="uploadedImages"></div>
            </form>
        </div>
    </div>
<script>
document.getElementById('file').addEventListener('change', handleFileSelect, false);

function handleFileSelect(evt) {
    var file = evt.target.files[0]; // Получение выбранного файла

    // Удаление ранее загруженного изображения
    document.getElementById('uploadedImages').innerHTML = '';

    var reader = new FileReader();

    reader.onload = (function(theFile) {
        return function(e) {
            // Рендеринг миниатюры
            var img = document.createElement('img');
            img.src = e.target.result;
            img.title = theFile.name;
            img.style.height = '200px';
            img.style.border = '1px solid #000';
            img.style.margin = '5px';

            document.getElementById('uploadedImages').appendChild(img);
        };
    })(file);

    // Считывание файла изображения в качестве URL-адреса данных
    reader.readAsDataURL(file);

    // Передача выбранного файла по URL-адресу действия формы
    var form = document.getElementById('uploadImage');
    form.action = form.action + '?file='

    document.getElementById('button').style.display = 'block';
}
</script>
{% endblock content %}
